*{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
}
a{
    display: block;
    text-decoration:none ;
    cursor: pointer;
}
span{
    display:inline;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?tu6ink');
    src:  url('fonts/icomoon.eot?tu6ink#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tu6ink') format('truetype'),
    url('fonts/icomoon.woff?tu6ink') format('woff'),
    url('fonts/icomoon.svg?tu6ink#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
body{
    min-width: 1280px;
    height: 100px;
    background: url(./img/aurora-1197753_1920.jpg) no-repeat ;
    background-size:cover;
    background-position: center 0;
}
header{
    display: block;
    margin: 0 auto;
    width: 1280px;
    height: 60px;
}
header ul{
    float: right;
}
header ul li{
    position: relative;
    font-family:fantasy;
    border-radius: 10%;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    width: 110px;
    margin-right: 60px;
    color:#fff;
    text-align: center;

}

header ul li:nth-child(1):before{
    font-size: 20px;
    position: absolute;
    top: -1px;
    left: 11px;
    font-family: 'icomoon';
    content: "\e90e";
}
header ul li:nth-child(2):before{
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 4px;
    font-family: 'icomoon';
    content: "\e947";
}
header ul li:nth-child(3):before{
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 5px;
    font-family: 'icomoon';
    content: "\e910";
}
header ul li:nth-child(4):before{
    font-size: 20px;
    position: absolute;
    top: -1px;
    left: 0px;
    font-family: 'icomoon';
    content: "\e942";
}
header ul li:active{
    background-color: #40808080;
    transition: background-color 0.1s ease;
}


header ul li a{
    color:#fff;
}
.container {

    padding-top: 25px;
    margin: 0px auto;
    width: 1000px;
    min-width: 1000px;
    height: 630px;
}

.container ul {
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
    width: 1000px;
    height: 630px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.2),
      -10px 10px 20px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
.container ul li{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 630px;
}
.slide:nth-of-type(1){

}
.slide:nth-of-type(2){
    left: 100%;
}
.slide:nth-of-type(3){
    left: 200%;
}
.slide:nth-of-type(4){
    left: 300%;
}

input[type="radio"]{
    position: relative;
    z-index: 100;
    display: none;
}
.control-visible{
    position: absolute;
    width: 100%;
    bottom:12px;
    text-align:center;
}
.control-visible label{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid #fff;
}
input[type="radio"]:nth-child(1):checked ~ .control-visible label:nth-of-type(1){
    background-color: #000;
}
input[type="radio"]:nth-child(2):checked ~ .control-visible label:nth-of-type(2){
    background-color: #000;
}
input[type="radio"]:nth-child(3):checked ~ .control-visible label:nth-of-type(3){
    background-color: #000;
}
input[type="radio"]:nth-child(4):checked ~ .control-visible label:nth-of-type(4){
    background-color: #000;
}

input[type="radio"]:nth-of-type(1):checked ~ .slide{
    transform: translateX(0%);
}
input[type="radio"]:nth-of-type(2):checked ~ .slide{
    transform: translateX(-100%);
}
input[type="radio"]:nth-of-type(3):checked ~ .slide{
    transform: translateX(-200%);
}
input[type="radio"]:nth-of-type(4):checked ~ .slide{
    transform: translateX(-300%);
}
.container ul>.slide{
    transition: .25s ease-out;
}
.slide:nth-of-type(4)>.face{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.slide:nth-of-type(4) img{
    width: 200px;
    height: 200px;
}
.container ul>.slide:nth-of-type(4) ol {
    width: 600px;
    height: 430px;
    margin: 0 auto;
}
.container ul>.slide:nth-of-type(4) ol>li{
    position: relative;
    font-family: fantasy;
    width: 600px;
    height: 80px;
    line-height: 80px;
    margin-left: 25%;
    font-size: 25px;
    margin-top: 17px;
    border: 0;
    box-shadow: none;
}

.container ul li >ol>li:nth-child(1)::before{
    position:absolute;
    top: 3px;
    left: -30px;
    font-family: 'icomoon';
    color: wheat;
    content: "\ea84";
    
}
.container ul li >ol>li:nth-child(2)::before{
    position:absolute;
    top: 3px;
    left: -30px;
    font-family: 'icomoon';
    color: #1d9bf0;
    content: "\ea96";
}
.container ul li >ol>li:nth-child(3)::before{
    position:absolute;
    top: 3px;
    left: -30px;
    font-family: 'icomoon';
    color: #00aee8;
    content: "\e95b";
}
.container ul li >ol>li:nth-child(4)::before{
    position: absolute;
    top: 3px;
    left: -30px;
    font-family: 'icomoon';
    content: "\eab0";
}
.container ul li >ol>li span{
    color: rgb(242, 9, 180);
}
.slide:nth-of-type(3){
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size:40px;
}

.slide:nth-of-type(3) div{  
    display: inline;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.slide:nth-of-type(3) img{   
    border-radius: 50%;

    width: 200px;
    height: 200px;
}
.slide:nth-of-type(1)>.face{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.slide:nth-of-type(1) img{
    width: 200px;
    height: 200px;
}
.container ul>.slide:nth-of-type(1) ol {
    width: 600px;
    height: 430px;
    margin: 0 auto;
}
.container ul>.slide:nth-of-type(1) ol>li{
    position: relative;
    font-family: fantasy;
    width: 600px;
    height: 80px;
    line-height: 80px;
    margin-left: 25%;
    font-size: 25px;
    margin-top: 17px;
    border: 0;
    box-shadow: none;
}
.container ul>.slide:nth-of-type(2){
    overflow: hidden;
}
.container ul>.slide:nth-of-type(2) img{
    width: 1000px;
    height: 630px;
}
.container ul li >ol>li:nth-child(1)::before{
    position:absolute;
    top: 3px;
    left: -30px;
    font-family: 'icomoon';
    color: wheat;
    content: "\ea84";
    
}
.container ul li >ol>li:nth-child(2)::before{
    position:absolute;
    top: 3px;
    left: -30px;
    font-family: 'icomoon';
    color: #1d9bf0;
    content: "\ea96";
}
.container ul li >ol>li:nth-child(3)::before{
    position:absolute;
    top: 3px;
    left: -30px;
    font-family: 'icomoon';
    color: #00aee8;
    content: "\e95b";
}
.container ul li >ol>li:nth-child(4)::before{
    position: absolute;
    top: 3px;
    left: -30px;
    font-family: 'icomoon';
    content: "\eab0";
}
.container ul li >ol>li span{
    color: rgb(242, 9, 180);
}